{% extends "layout.html" %}
{% block content %}
<div class="row">
  <div class="col-lg-6">
    <h3>Animations</h3>
    <table class="table table-striped">
      <tr>
        <td>Vapor Wave</td>
        <td><a href="/animation-configure/vapor" class="btn btn-primary">Configure</a></td>
      </tr>
      <tr>
        <td>Cycle Color</td>
        <td><a href="/animation-configure/cycle-color" class="btn btn-primary">Configure</a></td>
      </tr>
      <tr>
        <td>Marquee</td>
        <td><a href="/animation-configure/marquee" class="btn btn-primary">Configure</a></td>
      </tr>
      <tr>
        <td>Popo</td>
        <td><a href="/animation-configure/popo" class="btn btn-primary">Configure</a></td>
      </tr>
    </table>
  </div>
</div>
{%endblock%}
