<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Phuey</title>

  <!-- Bootstrap core CSS -->
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/static/css/simple-sidebar.css" rel="stylesheet">

</head>

<body>

  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading"><a href="/">Phuey</a></div>
      <div class="list-group list-group-flush">
        <a href="/animation-list" class="list-group-item list-group-item-action bg-light">Animations</a>
        <a href="/status" class="list-group-item list-group-item-action bg-light">Status</a>
        <a href="/settings" class="list-group-item list-group-item-action bg-light">Settings</a>
        <a href="/about" class="list-group-item list-group-item-action bg-light">About</a>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
      <div class="container-fluid">
        <h1 class="mt-4">Phuey</h1>
        {%block content%}{%endblock%}

      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Bootstrap core JavaScript -->
  <script src="/static/vendor/jquery/jquery.min.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Menu Toggle Script -->
  <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });

    $( "#animation-stop" ).click(function() {
      $.ajax({
        type: "POST",
        url: '/api/stop',
      });
    });

    // Run an animation
    $( ".animation-request" ).click(function() {
      animation = $(this).attr('value')
      $.ajax({
        type: "POST",
        url: '/api/animate/' + animation,
      });
    });
  </script>

</body>

</html>
