{% extends "layout.html" %}
{% block content %}
<div class="row">
  <div class="col-lg-6">
    <h3>Global Settings</h3>
    <form action="/settings-save" method="POST">
      <div class="form-group">
        <label for="delay">Brightness</label>
        <input name="global-brightness" class="form-control" id="delay" aria-describedby="delayHelp" placeholder="2">
        <small id="delayHelp" class="form-text text-muted">Sets brightness globally for all animations, 0-254.</small>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
{%endblock%}